    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Time Travel <em>Party</em></h2>
                <p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/elah3i_WiFI" frameborder="0" allowfullscreen></iframe>
                </p>

                <p>In 2009, theoretical physicist, cosmologist, and all around ridiculously brilliant dude Stephen Hawking <a href="http://www.huffingtonpost.co.uk/2012/07/02/stephen-hawking-time-travel_n_1643488.html">conducted a rather amazing experiment:</a>
                  <blockquote>
                    "I have experimental evidence that time travel is not possible," he said. "I gave a party for time-travellers, but I didn't send out the invitations until after the party. I sat there a long time, but no one came."
                  </blockquote>
                </p>

                <p>That's right. Hawking threw a party for Time Travellers, sat around in silence with a silly hat, and ended up concluding that since his party was a dud ... well, Time Travel <em>must not exist</em>. </p>

                <p>I'm no scientist, but uh, maybe there is one thing the professor didn't consider?</p>

                <p>Maybe there were better places to be...</p>

                <h1>That's where we step in.</h1>

                <p>We want to throw the world's best Time Traveler party. A party that the cosmos will forever be talking about. One for the ages and ages and ages... But unlike Stephen Hawking's "How To Throw A Party 101" failure, we're going to <em>ACTUALLY INVITE YOU</em> and all the Time Travellers from now until...<div style="font-size:80px">&infin;</div></p>
                <hr>
            </div>
          </div>
        </section>

        <section id="faq" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">


                <h1>FAQ</h1>

                <h2>Ok, you may be asking yourself: "Man, I love a good party and all - but um, who are you and what gives you the authority to throw a shindig of such cosmic importance?"</h2>

                <p>Good question! Granted, we're not world famous brainiacs, but instead just a bunch of weirdos in Seattle who run a little community non-profit radio station called <a href="http://www.hollowearthradio.org">Hollow Earth Radio</a>. We're focused on underrepresented sounds and perspectives (i.e. burp symphonies and interviews with folks claiming to be Reptilian beings). And we've got a reputation for throwing some real world-class ragers. </p>

                <iframe src="https://player.vimeo.com/video/46375158" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/46375158">Jan Terri featuring Heatwarmer (part II)</a>.</p>

                <p>But we also have a connection to Time Travel that not is not readily known. Back in 2005, a couple of years before we started broadcasting, we found a letter in a suitcase a block away from what would eventually become our main headquarters. The letter read:

                <blockquote>
                  "Hello. Thank you for finding my secret note. Do you believe in Time Travel? Please write back. ~Jared"
                </blockquote>

                <p>We never wrote back to Jared, but in hindsight it's incredibly strange that we would move our location across town to be near the location of this mysterious note from a Time Traveller. We think it's high time we write our own response and we want to encourage you to write a reply that we can pass along too...</p>

                <h2>Yeah, but why are you having this party now?</h2>

                <p>A couple of reasons: This is the year that Marty McFly goes into the future. In fact, Oct 21st 2015 is the date. <a href="http://istodaythedaymartymcflyarriveswhenhetravelstothefuture.com">Here's a website that has a countdown.</a>

                <p>Another reason: Starting next year, <a href="http://www.hollowearthradio.org">Hollow Earth Radio</a> is hoping to finally get a chance to broadcast on the FM frequency (100.3 KHUH, Seattle) after nine years of broadcasting online-only. We recently were granted <a href="www.cityartsonline.com/articles/100-watt-revolution">a Low Power FM license</a>, but we need to raise the funds to actually buy and start operating our transmitter/antenna. It's a huge transition for us and this party will serve as a TIMELESS MEMORY of this new path we're embarking on. This Time Travel Party will be one of our many ways to collect donations to 'Save The Radio Tower' (so-to-speak), and we're hoping you'll see the importance of being part of this momentous occasion in our station's history.

                <p>And finally, as if it wasn't abundantly clear, most of us feel like we're currently stuck in the crummy Biff Tannen version of the future popularized in <em>Back to the Future II</em>. We're hoping that by throwing this Time Travel <em>Party</em> we will all have an opportunity to reflect on the current timeline we've all found ourselves in and seek out ways to fork our reality back onto a positive trajectory. Let's work to course-correct where we're collectively going.

                <h2>So what's gonna happen at this party anyway?</h2>

                <p>We're still planning, but here are some things we're thinking working on:

                <p>* An Enchantment Under The Sea Dance, with music provided by the some special TBA artists, but who will likely include tribute bands for Marvin Berry & the Starlighters and the Wyld Stallyns (yes, of Bill & Ted's Excellent Adventure fame).
                </p>
                <p>*A Time Travel Museum: Complete with Time Travel artifacts, including the original letter from "Jared", special guests, art installations, and other reality-bending treasures</li>
                <p>*A time capsule that you are encouraged to contribute to! We'll also be accepting letters to share with "Jared".
                </p>
                <p>A Whole Bunch Of Other Suprises!!!</p>

                <h2>Ok. Ok. I want to come. When is this party going to happen?</h2>

                <p>We're not ready to announce where or when yet, but you can sign up for our mailing list OR follow us on Medium where will be continuing to bring you late breaking time travel news.</p>
            </div>
        </div>
    </section>
